*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(
135deg,
#0f172a,
#1e3a8a,
#312e81
);

overflow:hidden;
color:white;
}

body::before{

content:"";
position:absolute;
width:400px;
height:400px;
background:rgba(255,255,255,.1);

border-radius:50%;

top:-100px;
left:-100px;

filter:blur(80px);
}

body::after{

content:"";
position:absolute;
width:350px;
height:350px;

background:rgba(0,255,255,.1);

border-radius:50%;

bottom:-100px;
right:-100px;

filter:blur(100px);

}

.container{

width:400px;
padding:30px;
position:relative;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(20px);

border-radius:25px;

box-shadow:

0 8px 32px rgba(0,0,0,.3);

text-align:center;

z-index:1;
}

h1{

margin-bottom:25px;
font-size:30px;

}

.search-box{

display:flex;
gap:10px;
margin-bottom:25px;
}

input{

flex:1;

padding:14px;

border:none;

border-radius:15px;

outline:none;

font-size:16px;
}

button{

padding:14px 20px;

border:none;

border-radius:15px;

cursor:pointer;

background:#38bdf8;

color:white;

font-size:15px;

font-weight:bold;

transition:.4s;
}

button:hover{

transform:scale(1.05);

background:#0ea5e9;
}

.weather-card{

display:none;
animation:fade .7s;
}

@keyframes fade{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}

#weatherIcon{

width:100px;
margin:10px;
}

.temp{

font-size:55px;
font-weight:bold;
margin:10px 0;
}

.details{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:15px;

margin-top:25px;
}

.box{

padding:12px;

background:rgba(255,255,255,.1);

border-radius:15px;

}

.box span{

display:block;
margin-top:8px;
font-size:18px;
font-weight:bold;
}